set system root-authentication encrypted-password "$6$dEs18$eF48c8CvwS7OyDCXNpI05vZCvp67AFD5Gn0ltnCRU2P04O9quro8DXzrqq6uRh3aQZdwoT4AUNT5Gz4fLAkCp0"
set system name-server 8.8.8.8
set interfaces ge-0/0/0 unit 0 family inet address 2.2.2.251/24
set interfaces ge-0/0/1 unit 0 family inet address 1.1.1.251/24
set routing-options static route 0.0.0.0/0 next-hop 10.47.255.254/32
set security policies default-policy permit-all
set security zones security-zone trust interfaces ge-0/0/0.0
set security zones security-zone untrust interfaces ge-0/0/1.0
